:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light only;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f9f9f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  min-height: 100vh;
}

body,
html {
  overflow-x: hidden;
}

.wrapper {
  flex: 1; /* Takes up all available space, pushing the footer down */
}

@font-face {
  font-family: "EB Garamond";
  src: url("./assets/EB_Garamond/EBGaramond-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
}

@font-face {
  font-family: "EB Garamond Reg";
  src: url("./assets/EB_Garamond/static/EBGaramond-Regular.ttf")
    format("truetype");
  font-weight: normal;
}

/* Additional global styles */

a {
  font-weight: 500;
  text-decoration: inherit;
}
a {
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
}
a:hover {
  color: #535bf2;
}

div {
  display: block;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f8f8ff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

*,
:after,
:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 300 16px/1.5 EB Garamond, sans-serif;
  color: #3b4654;
  background-color: #f8f8ff;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  margin: 0;
  place-items: center;
  min-width: 100%;
  min-height: 100%;
}

body {
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.6;
  height: 100%;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  caret-color: transparent;
  background-color: #f9f9f9;
}

input {
  font-family: "EB Garamond", sans-serif;
  font-size: 16px;
}

.footer {
  font-size: small;
  margin-bottom: 2em;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  width: 100vw;
  position: relative; /* Fix position to the bottom */
  bottom: 0; /* Align to the bottom */
  left: 0; /* Align to the left */
  overflow: hidden;
}

.footer-text {
  margin-left: 0.5rem;
  font-size: small;
}

.footer-widgets {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-right: 20px; /* Adjust padding to prevent content from hiding under the scrollbar */
  max-width: calc(
    100% - 20px
  ); /* Adjust max-width to account for padding and potential scrollbar */
  overflow-x: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .footer-widgets {
    margin-right: 0px;
    padding-right: 0px;
    max-width: 100%;
  }

  .footer-container {
    flex-direction: row;
  }

  .footer-widgets,
  .flip-timer,
  .input-prompt {
    max-width: 80%;
  }

  .footer-text,
  .footer-widgets {
    text-align: center;
  }

  .flip-timer-row,
  .input-prompt {
    justify-content: center;
  }

  .input-prompt {
    min-width: unset;
    width: 170px;
  }

  .flip-card {
    width: 15px; /* Adjust the size of the cards for smaller screens */
    height: 25px;
  }

  .flip-card-inner {
    width: 15px;
    height: 25px;
  }
}
